/*
	light-orange: #FFDCA0;
*/

html {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', Arial, sans-serif;
	margin: 0 5%;
 }

.visually-hidden {
	display: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

header {
	position: relative;
}

.masthead {
	max-width: 80%;
}

.masthead img {
	max-width: 65%;
}

.masthead p {
	font-size: .8rem;
	margin-top: -10px;
	margin-left: 6px;
}

.hamburger {
	position: absolute;
	top: 5px;
	right: 0;
}

.hamburger-nav {
	position: absolute;
	top: 30px;
	right: 0;
	padding: 5px;
	background-color: white;
	z-index: 9;
	border: 1px solid black;
}

.hamburger-nav li {
	display: block;
	padding: 5px;
	line-height: 2rem;
	text-align: center;
}

.orange {
	background-color: orange;
}

#navigation {
	width: 100%;
	margin-top: 25px;
}

#navigation ul, #navigation li {
	padding: 0;
}

#navigation li {
	text-align: center;
	font-weight: bold;
}

#navigation li li {
	height: 30px;
	margin-top: 2px;
	padding-top: 15px;
	float: left;
	width: 32.5%;
	background-color: #666;
	border: 1px #999 solid;
}

#navigation li li:nth-child(2), #navigation li li:nth-child(3) {
	border-left: none;
}

#navigation li li.selected {
	background-color: orange;
	color: black;
}


#navigation li li.selected>a {
	color: black;
	font-weight: bold;
}

#navigation a {
	text-decoration: none;
	color: white;
}

.patterns, footer {
	clear: both;
}

.patterns {
	max-width: 500px;
}
article {
	display: inline-block;
	margin-top: 5px;
	padding-top: 5%;
}

article img {
	max-width: 100%;
}

.designer {
	font-size: 0.9rem;
	margin-top: 0;
	margin-bottom: 2%;
	color: #222;
}

.social img {
	width: 24px;
}

ul {
	list-style: none;
}

.social {
	display: inline-block;
	height: 65px;
	width: 100%;
	margin-top: -72px;
	padding: 5px 0 0;
	background-color: rgba(128, 128, 128, 0.7);
}

.social li {
	float: left;
	padding: 15px 15px;
	cursor: pointer;
}

.social input {
	height: 1.25rem;
	width: 100%;
	border-radius: 4px;
}

footer {
	margin: 20px 0;
}

footer form {
	padding: 20px 0;
}

footer .past-issues {
	text-decoration: none;
	display: inline-block;
	background-color: orange;
	padding: 10px;
	border: 1px solid #FFDCA0;
	border-radius: 3px;
}

footer a:visited {
	color: black;
}

footer>a:last-child {
	padding: none;
	color: blue;
}

footer input {
	margin-top: 10px;
	margin-right: 5px;
	border-radius: 3px;
	height: 20px;
}

footer .search-button {
	background-color: orange;
	border-radius: 3px;
	margin-left: 10px;
	border: 1px solid #FFDCA0;
	padding: 5px;
}

