body {
	font-family: 'Helvetica', Arial, sans-serif;
	margin: 0 5%;
 }

.visually-hidden {
	display: none;
}

header {
	position: relative;
}

.masthead {
	max-width: 80%;
}

.masthead img {
	max-width: 62.5%;
}

.menu-button {
	position: absolute;
	top: 20px;
	right: 0;
	padding: 6px;
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
}

a.menu-button {
	color: black;
	text-decoration: none;
}

a.menu-button:visited {
	color: inherit;
}

.masthead p {
	font-size: .8rem;
	margin-top: -10px;
	margin-left: 6px;
}

.patterns, footer {
	clear: both;
}

.patterns {
	max-width: 500px;
}
article {
	display: inline-block;
	padding-top: 5%;
}

article img {
	max-width: 100%;
}

.designer {
	font-size: 0.9rem;
	margin-top: 0;
	margin-bottom: 2%;
	color: #222;
}

.social img {
	width: 24px;
}

ul {
	list-style: none;
}

.social {
	display: inline-block;
	height: 50px;
	width: 100%;
	margin-top: -72px;
	padding-left: 0;
	padding-top: 20px;
	background-color: rgba(128, 128, 128, 0.7);
}

.social li {
	float: left;
	padding: 0 15px;
	cursor: pointer;
}

.social input {
	height: 1.25rem;
	width: 100%;
	border-radius: 4px;
}

footer {
	padding-top: 20px;
}

#navigation {
	padding: 0;
}

#navigation a {
	text-decoration: none;
	color: blue;
}

#navigation ul {
	padding: 0;
}

#navigation li {
	padding: 10px 0;
	font-weight: bold;
	text-align: center;
}

#navigation li li {
	padding: 8px 0;
	list-style-type: none;
	list-style-position: inside;
}

#navigation li li:before {
	content: '\2022';
	color: blue;
	padding-right: 3px;
}

footer input {
	margin-right: 5px;
	border-radius: 3px;
}

.jmml {
	text-align: center;
	margin-bottom: 100px;
	font-size: .8rem;
}
