@media screen and (min-width: 641px) {

	.tools {
		@include clearfix();
 		width: 100%;
 		position: relative;
	}
 
	.education {
		@include clearfix();
	}

	.classwork .left, .classwork .right {
		float: none;
		width: 100%
	}

}
